.App {
  display: flex;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-color: rgb(232, 234, 240);
  padding: 30px;
  justify-content: space-between;
}

.kiri {
  width: 20%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 25px;
}

.kanan {
  width: 77%;
  height: 100%;
  border-radius: 30px;
  /* padding: 20px; */
}

/* Profil */
.profil {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  background: rgb(17, 29, 94);
  background: linear-gradient(152deg,
      rgba(17, 29, 94, 1) 30%,
      rgba(189, 107, 190, 1) 100%);
  color: white;
  margin-bottom: 30px;
}

.profil-images {
  margin-top: 50px;
  width: 35%;
  height: auto;
}

.profil h6 {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
}

/* Sidebar */
.sidebar {
  margin-bottom: 15px;
}

.sidebar ul {
  padding-left: 15px;
}

.sidebar button {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(194, 203, 212);
  font-size: 15px;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar ul li {
  list-style: none;
  margin: 40px 0;

  color: rgb(194, 203, 212);
}

button.btn-active {
  color: #131e5e;
  font-weight: 700;
}

button .icon {
  margin-right: 20px;
}

.sidebar ul li:last-child {
  margin-bottom: 0;
}

.sidebar ul li:first-child {
  margin-top: 0;
}

/* Premium */
.premium {
  margin-top: 30px;
  width: 100%;
  height: 90px;
  background-color: #ffbd69;
  color: #131e5e;
  border-radius: 20px;
  font-size: 25px;
  padding: 15px;
  font-weight: 700;
}

/* Kanan */
.kanan h3 {
  text-align: center;
  color: #131e5e;
  margin-top: 0;
}

.kanan h3>span {
  color: #ffbd69;
}

/* Catgory */
.catgory {
  margin-bottom: 20px;
}

.catgory h5 {
  font-size: 20px;
  color: #131e5e;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.catgory-container {
  width: 90%;
  height: auto;
  /* background-color: rgb(141, 141, 141); */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.catgory-item {
  width: 15%;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.catgory-item.catgory-active {
  background-color: #ffbd69;
  box-shadow: 1px 3px 18px -5px rgba(0, 0, 0, 0.75);
}

.catgory-item:hover {
  background-color: #ffd9a7;
}

.catgory-item img {
  width: 50%;
  height: auto;
  margin-top: 20px;
}

.catgory-item h6 {
  text-transform: capitalize;
  margin-top: 5px;
}

/* Games */
.catgory-game {
  width: 90%;
  height: auto;
  /* background-color: rgb(141, 141, 141); */
  border-radius: 10px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 2fr 2fr;
  gap: 20px 20px;
}

.game-item {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  transition: 0.5s;
}

.game-item:hover {
  transform: scale(1.05);
}

.game-item img {
  width: 80px;
  height: auto;
  border-radius: 15px;
}

.game-konten {
  display: block;
  margin-left: 5%;
}

.game-konten h4 {
  margin: 0;
  font-size: 20px;
  color: #131e5e;
}

.game-konten span {
  color: #d32d57;
  font-size: 15px;
}

.game-item .play-btn {
  background-color: #f1f1f1;
  border-radius: 100px;
  padding: 20px;
  position: absolute;
  right: 10%;
  cursor: pointer;
  transition: 1s;
  box-shadow: 1px 3px 15px -10px rgba(0, 0, 0, 0.75);
  outline: none;
  border: none;
}

.play-btn:hover {
  background-color: #ffbd69;
  box-shadow: none;
}

.game-item .play-btn span {
  color: #131e5e;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.11);

}

.modal-main {
  position: fixed;
  padding: 20px;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.modal-main img {
  width: 30%;
  height: auto;
}

.modal-content {
  width: 60%;
  position: relative;
}

.modal-content h5 {
  margin-top: 0;
}

.modal-content h6 {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 14px;
  color: #131e5e;
  text-transform: capitalize;
}

.modal-content span {
  margin: 0;
  color: #131e5e;
  font-size: 12px;
}

.modal-content button {
  background-color: #ffbd69;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 15px;
  color: #131e5e;
  border: none;
  width: 20%;
  height: 30px;
  outline: none;
  cursor: pointer;

}

.display-block {
  display: block;
  z-index: 100;
}

.display-none {
  display: none;
}